body{
    font-family: "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    background-color: #303030;
    color: #ffffff;
    padding: 20px;
}

nav ul{
    list-style-type: 0px;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #dcdcdc;
}

nav ul li{
    display: inline;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

nav ul li a{
    text-decoration: none;
    color: #303030;
}

nav ul li:hover {
    background-color: #96dc96;
}

li.currentPage{
    background-color: #96dc96;
}

main{
    flex: 1;
    padding: 20px;
}

footer{
    background-color: #303030;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

form{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.size-select{
    display: flex;
}

label{
    display: block;
}

input[type="text"], select{
    width: 200px;
    padding: 5px;
    margin: 15px;
}

input[type="radio"]{
    margin-left: 16px;
}

input[type="submit"]{
    background-color: #303030;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
    cursor: pointer;
}