body{
    font-family: "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    background-color: #303030;
    color: #ffffff;
    padding: 20px;
}

nav ul{
    list-style-type: 0px;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #dcdcdc;
}

nav ul li{
    display: inline;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

nav ul li a{
    text-decoration: none;
    color: #303030;
}

nav ul li:hover {
    background-color: #96dc96;
}

li.currentPage{
    background-color: #96dc96;
}

main{
    flex: 1;
    padding: 20px;
}

h2.section-header{
    text-align: center;
}

div.featured-drinks{
    display: flex;
    justify-content: center;
}

div.drink-container{
    display: flex;
    justify-content: center;
}

div.drink{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

div.drink img{
    width: 200px;
    height: 200px;
}

footer{
    background-color: #303030;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}